<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=icon href=favicon.ico><title>vue-manage-system</title>
<link href=static/css/chunk-302c19ae.f33da17c.css rel=prefetch>
<link href=static/css/chunk-4e052833.79647dee.css rel=prefetch>
<link href=static/css/chunk-5f158088.418631ef.css rel=prefetch>
<link href=static/css/chunk-6aab4a52.0bee13c2.css rel=prefetch>
<link href=static/css/chunk-6d5b817e.d0545184.css rel=prefetch>
<link href=static/css/chunk-760f210c.fd4a056d.css rel=prefetch>
<link href=static/css/chunk-a8476cb8.1a274d3f.css rel=prefetch>
<link href=static/css/chunk-eee270ce.8d7086fc.css rel=prefetch>
<link href=static/css/chunk-f121b84a.e8ad329f.css rel=prefetch>
<link href=static/js/chunk-2d0bcde4.f6a41800.js rel=prefetch>
<link href=static/js/chunk-2d0d3833.35af38a9.js rel=prefetch>
<link href=static/js/chunk-2d207b87.d96a2f6c.js rel=prefetch>
<link href=static/js/chunk-2d21a007.4637f5e6.js rel=prefetch>
<link href=static/js/chunk-2d230e36.083fbc58.js rel=prefetch>
<link href=static/js/chunk-2d231062.87e1a207.js rel=prefetch>
<link href=static/js/chunk-302c19ae.d49186d5.js rel=prefetch>
<link href=static/js/chunk-4e052833.6be9e687.js rel=prefetch>
<link href=static/js/chunk-5f158088.4841133a.js rel=prefetch>
<link href=static/js/chunk-6aab4a52.8bbae33a.js rel=prefetch>
<link href=static/js/chunk-6d5b817e.bf70602d.js rel=prefetch>
<link href=static/js/chunk-760f210c.ff6d2353.js rel=prefetch>
<link href=static/js/chunk-a8476cb8.e5e348f6.js rel=prefetch>
<link href=static/js/chunk-eee270ce.65784cfe.js rel=prefetch>
<link href=static/js/chunk-f121b84a.91ab4fe2.js rel=prefetch>
<link href=static/css/app.67e0890a.css rel=preload as=style>
<link href=static/css/chunk-vendors.b80cec6e.css rel=preload as=style>
<link href=static/js/app.d9a54d08.js rel=modulepreload as=script>
<link href=static/js/chunk-vendors.648463c2.js rel=modulepreload as=script>
<link href=static/css/chunk-vendors.b80cec6e.css rel=stylesheet>
<link href=static/css/app.67e0890a.css rel=stylesheet>
</head>
<body>
<noscript>
<strong>We're sorry but vue-manage-system doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript><div id=app></div>
<script type=module src=static/js/chunk-vendors.648463c2.js></script>
<script type=module src=static/js/app.d9a54d08.js></script>
<script>!function(){var e=document,t=e.createElement("script");if(!("noModule"in t)&&"onbeforeload"in t){var n=!1;e.addEventListener("beforeload",function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()},!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove()}}();</script><script src=static/js/chunk-vendors-legacy.992b0076.js nomodule></script><script src=static/js/app-legacy.77b56500.js nomodule></script></body></html>