<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myproject.api.springboot_mybatis.dao.StatisticDao">
    <select id="getProject" resultType="com.myproject.api.springboot_mybatis.entity.Project">
        SELECT * FROM project
        <where>
        <if test="projectHead != null and projectHead != ''">
            project_head=#{projectHead}
        </if>
        <if test="projectType != null and projectType != ''">
            AND project_type=#{projectType}
        </if>
        <if test="if_issued != null and if_issued != ''">
            AND if_issued=#{if_issued}
        </if>
        </where>
    </select>
    <select id="getFile" resultType="com.myproject.api.springboot_mybatis.entity.Project"></select>
    <select id="getContract" resultType="com.myproject.api.springboot_mybatis.entity.Project"></select>
    <select id="getTender" resultType="com.myproject.api.springboot_mybatis.entity.Project"></select>
</mapper>