<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myproject.api.springboot_mybatis.dao.StatisticDao">
    <select id="getProject" resultType="com.myproject.api.springboot_mybatis.entity.Project">
        SELECT * FROM project where project_head=#{projectHead} and project_type=#{projectClass}
    </select>
    <select id="getFile" resultType="com.myproject.api.springboot_mybatis.entity.Project"></select>
    <select id="getContract" resultType="com.myproject.api.springboot_mybatis.entity.Project"></select>
    <select id="getTender" resultType="com.myproject.api.springboot_mybatis.entity.Project"></select>
</mapper>