<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
<mapper namespace="com.sml.mybatisdemo.dao.UserDao">
    <select id="getAllUser" resultType="com.sml.mybatisdemo.domin.User" >
        SELECT * FROM userinfo;
    </select>

    <insert id="insert" parameterType="com.sml.mybatisdemo.domin.User" useGeneratedKeys="true" keyProperty="userId">
        insert into
            userinfo(id,userName,age, sex)
        values
            (#{id},#{userName},#{age},#{sex})
    </insert>
</mapper>
-->
<mapper namespace="com.myproject.api.springboot_mybatis.dao.ProjectDao">
    <select id="getAllProject" resultType="com.myproject.api.springboot_mybatis.entity.Project" >
        SELECT * FROM project where jing_ban_ren=#{jing_ban_ren}
    </select>
    <select id="getCheckProject" resultType="com.myproject.api.springboot_mybatis.entity.Project" >

        SELECT * FROM project where if_submit=1 and (shen_he_ren=#{shen_he_ren} or shen_he_ren=null) ;

    </select>

    <select id="getname" resultType="com.myproject.api.springboot_mybatis.entity.Staff" >

        SELECT * FROM staff  ;

    </select>
    <select id="getAllCheckProject" resultType="com.myproject.api.springboot_mybatis.entity.Project">
        select * from  project where  if_submit=1
    </select>

    <insert id="insert" parameterType="com.myproject.api.springboot_mybatis.entity.Project" useGeneratedKeys="true" keyProperty="project_id">
        insert into
           project(    project_id,
                       project_type,
                       project_name,
                       project_client,
                       project_reportnumber,
                       project_class,
                       project_qualitycontroler,
                       project_head,
                       project_members,
                       project_starttime,
                       project_endtime,
                       project_comment,
                       project_assets,
                       project_audit,
                       project_reduction,
                       project_accountant,
                       project_costengineer,
                       project_taxaccountant,
                       project_partner,
                       project_construction,
                       project_code,
                       if_issued,
                       if_delete,
                       if_submit,
                       jing_ban_ren,
                       file_location,file_uploaddate,file_updatedate,txt_name
                   )
        values
            (#{project_id},
             #{project_type},
             #{project_name},
             #{project_client},
             #{project_reportnumber},
             #{project_class},
             #{project_qualitycontroler},
             #{project_head},
             #{project_members},
             #{project_starttime},
             #{project_endtime},
             #{project_comment},
             #{project_assets},
             #{project_audit},
             #{project_reduction},
             #{project_accountant},
             #{project_costengineer},
             #{project_taxaccountant},
             #{project_partner},
             #{project_construction},
             #{ project_code},
             0,
             0,
             0,
             #{jing_ban_ren},
             #{file_location},
             #{file_uploaddate},
             #{file_updatedate},
             #{txt_name}
             )
    </insert>
    <delete id="delete"  parameterType="com.myproject.api.springboot_mybatis.entity.Project">
    delete from project where project_id=#{project_id}
    </delete>
    <update id="update" parameterType="com.myproject.api.springboot_mybatis.entity.Project">
    update project  set  project_name=#{project_name},
                         project_type=#{project_type},
                         project_client=#{project_client},
                         project_reportnumber=#{project_reportnumber},
                         project_class=#{project_class},
                         project_qualitycontroler=#{project_qualitycontroler},
                         project_head=#{project_head},
                         project_members=#{project_members},
                         project_starttime=#{project_starttime},
                         project_endtime=#{project_endtime},
                         project_comment=#{project_comment},
                         project_assets=#{project_assets},
                         project_audit=#{project_audit},
                         project_reduction=#{project_reduction},
                         project_accountant=#{project_accountant},
                         project_costengineer=#{project_costengineer},
                         project_taxaccountant=#{project_taxaccountant},
                         project_partner=#{project_partner},
                         project_construction=#{project_construction},
                         file_location=#{file_location},
                         file_uploaddate=#{file_uploaddate},
                         file_updatedate=#{file_updatedate},
                         txt_name=#{txt_name}
                         where project.project_id=#{project_id}
    </update>

    <update id="submit" parameterType="com.myproject.api.springboot_mybatis.entity.Project">
    update project  set if_submit=1,if_issued=0 where project.project_id=#{project_id}
    </update>

    <update id="pass" parameterType="com.myproject.api.springboot_mybatis.entity.Project">
    update project  set
                         if_issued=2,
                         shen_he_ren=#{shen_he_ren}
                         where project.project_id=#{project_id}
    </update>

    <update id="refuse" parameterType="com.myproject.api.springboot_mybatis.entity.Project">
    update project  set
                         if_issued=1,
                         shen_he_ren=#{shen_he_ren}
                         where project.project_id=#{project_id}
    </update>

    <update id="if_delete" parameterType="com.myproject.api.springboot_mybatis.entity.Project">
    update project  set  project_name=#{project_name},
                         project_id=#{project_id},
                         project_type=#{project_type},
                         project_client=#{project_client},
                         project_reportnumber=#{project_reportnumber},
                         project_class=#{project_class},
                         project_qualitycontroler=#{project_qualitycontroler},
                         project_head=#{project_head},
                         project_members=#{project_members},
                         project_starttime=#{project_starttime},
                         project_endtime=#{project_endtime},
                         project_comment=#{project_comment},
                         project_assets=#{project_assets},
                         project_audit=#{project_audit},
                         project_reduction=#{project_reduction},
                         project_accountant=#{project_accountant},
                         project_costengineer=#{project_costengineer},
                         project_taxaccountant=#{project_taxaccountant},
                         project_partner=#{project_partner},
                         project_construction=#{project_construction},
                         project_code=#{project_code},
                         if_delete=1,
                         jing_ban_ren=#{jing_ban_ren},
                         shen_he_ren=#{shen_he_ren}
                         where project.project_id=#{project_id}
    </update>


</mapper>